%h1 Login
%p
%form(action="/login" method ="POST")
 %label
  Username
  %input(type="text" name="username")
 %p
 %label
  Password
  %input(type="password" name="password")

 %p
 %input(type="submit" text="send" value="Login" )

